<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
    <title>Login</title>
</head>

<body>
<div class = "banner-text">
    <ul>
        <li> Home</li>
        <li> Busch</li>
        <li> Livingston</li>
        <li> Logout </li>

    </ul>

    <h2> ECE Libary Finder</h2>
</div>

<div class ="animation-area">
    <ul class ="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

</body>
</html>