<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home-logged-in.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Logged In</title>
</head>

<body>



    
    <div class='nava'>
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Busch</a>
                <div class="dropdown-content">
                  <a href="/Busch/Room1">Room 1</a>
                  <a href="/Busch/Room2">Room 2</a>
                  <a href="/Busch/Room3">Room 3</a>
                </div>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Livingston</a>
              <div class="dropdown-content">
                <a href="/Livingston/Room1">Room 1</a>
                <a href="/Livingston/Room2">Room 2</a>
                <a href="/Livingston/Room3">Room 3</a>
              </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">College Ave</a>
            <div class="dropdown-content">
              <a href="/CollegeAve/Room1">Room 1</a>
              <a href="/CollegeAve/Room2">Room 2</a>
              <a href="/CollegeAve/Room3">Room 3</a>
            </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Cook/Douglass</a>
          <div class="dropdown-content">
            <a href="/CookDoug/Room1">Room 1</a>
            <a href="/CookDoug/Room2">Room 2</a>
            <a href="/CookDoug/Room3">Room 3</a>
          </div>
      </li>
            <li> <a href='/logout'>Logout</a></li>

        </ul>
    </div>

    
    <div class = 'ani'></div>
    


    
</body>

</html>