<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lsm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Occupancy Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>
            <center>Occupancy Busch Room 1</center>
        </h1>
    </header>
    <main>
        <h2>
            <center>Current Occupancy: 75%</center>
        </h2>
        <center><label for="file">Occupancy:</label>
            <progress id="file" value="75" max="100"> 75% </progress></center>
        
        <h3> <a href='/'>Return Home</a></h3>
        
    </main>
</body>

</html>