<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/home.css">
  <title>Library Finder</title>
</head>
<body>
    <nav>
      <ul>
        <li>
          <a href="#">Busch</a>
          <ul >
            <li>
              <a href="/busch_lsm">LSM</a>
              <ul>
                <li><a href="/busch_lsm/study_room1">Study Room 1</a></li>
                <li><a href="/busch/lsm/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
            <li><a href="/busch/buschStudentCenter"> Busch Student Center</a>
              <ul>
                <li><a href="/busch/buschStudentCenter/studyroom1">Study Room 1</a></li>
                <li><a href="/busch/buschStudentCenter/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/livingston">Livingston</a>
          <ul >
            <li>
              <a href="/livingston/JamesDicksonLibrary">James Dickson Library</a>
              <ul>
                <li><a href="/livingston/JamesDicksonLibrary/studyroom1">Study Room 1</a></li>
                <li><a href="/livingston/JamesDicksonLibrary/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
            <li><a href="/livingston/livingstonStudentCenter"> Livingston Student Center</a>
              <ul>
                <li><a href="/livingston/livingstonStudentCenter/studyroom1">Study Room 1</a></li>
                <li><a href="/livingston/livingstonStudentCenter/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/collegeave">College Ave</a>
          <ul >
            <li>
              <a href="/collegeave/ArchibaldS.AlexanderLibrary">Archibald S. Alexander Library</a>
              <ul>
                <li><a href="/collegeave/ArchibaldS.AlexanderLibrary/studyroom1">Study Room 1</a></li>
                <li><a href="/collegeave/ArchibaldS.AlexanderLibrary/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
            <li><a href="/collegeave/collegeaveStudentCenter"> College Ave Student Center</a>
              <ul>
                <li><a href="/collegeave/collegeaveStudentCenter/studyroom1">Study Room 1</a></li>
                <li><a href="/collegeave/collegeaveStudentCenter/studyroom2">Study Room 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Login In With Google</h2>
                </form>
                <br>
                <a href="/google" class="btn-google">
                  <img src="https://img.icons8.com/color/16/000000/google-logo.png"/> 
                  <span>Sign in with Google</span>
                </a>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
