<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/lsm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Occupancy Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Occupancy <%= library %> Page</h1>
    </header>
    <main>
        <h2>Current Occupancy: <span class="occupancy">75%</span></h2>
        <div class="progress-bar">
            <div class="filler"></div>
        </div>
    </main>
</body>
</html>
