<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/place.css">
	<title><%= name %>Study Rooms</title>
</head>
<body>
	<h1> <%= name %> Study Rooms</h1>
	<div class="container">
		<div class="box">
			<h2>Study Room 1</h2>
			<p></p>
			<button><a  style="text-decoration: none;color:white"href=<%= link1 %>> View Occupancy Study Room 1</a></button>
		</div>
		<div class="box">
			<h2>Study Room 2</h2>
			<p></p>
			<button><a  style="text-decoration: none;color:white"href=<%= link2 %>> View Occupancy Study Room 2</a></button>
		</div>
	</div>
</body>
</

</html>
